In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Placement_Data_Full_Class.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [4]:
dataset['ssc_p'].dtype

dtype('float64')

In [5]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [6]:
Quan=[]
Qual=[]
for column in dataset.columns:
    print(column)
    if (dataset[column].dtype=='object'):
        Qual.append(column)
    else:
        Quan.append(column)

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

In [7]:
Quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [8]:
Qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [9]:
def QuanQual(dataset):
    Quan=[]
    Qual=[]
    for column in dataset.columns:
        print(column)
        if(dataset[column].dtypes=='object'):
            Qual.append(column)
        else:
            Quan.append(column)
    return Quan,Qual

In [10]:
ans=QuanQual(dataset)

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

In [11]:
dataset['ssc_p'].mean()

67.3033953488372

In [12]:
dataset['ssc_p'].median()

67.0

In [13]:
dataset['ssc_p'].mode(0)

0    62.0
dtype: float64

In [14]:
from Univarite import Univarite
obj=Univarite()

In [15]:
quan,qual=obj.QuanQual(dataset)

Quan: ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
Qual: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [16]:
Univarite=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [17]:
Univarite

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [33]:
for column in quan:
    Univarite[column]["Mean"]=dataset[column].mean()
    Univarite[column]["Median"]=dataset[column].median() 
    Univarite[column]["Mode"]=dataset[column].mode()

In [34]:
Univarite

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108,67.3034,66.3332,66.3702,72.1006,62.2782,198702
Median,108,67,65,66,71,62,240000
Mode,0 1 1 2 2 3 3 4 4 ...,0 62.0 dtype: float64,0 63.0 dtype: float64,0 65.0 dtype: float64,0 60.0 dtype: float64,0 56.7 dtype: float64,0 0.0 dtype: float64

In [20]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [21]:
import numpy as np
np.percentile(dataset['ssc_p'],100)

89.4

In [24]:
dataset["ssc_p"].min()

40.89

In [25]:
dataset["ssc_p"].max()

89.4

In [26]:
dataset["salary"]=dataset["salary"].fillna(0)

In [27]:
dataset["salary"].mode()[0]

0.0

In [35]:
Univarite=pd.DataFrame(index=["Mean","Median","Mode","Min","25%","50%","75%","Max"],columns=quan)
for column in quan:
    print(column)
    Univarite[column]["Mean"]=dataset[column].mean()
    Univarite[column]["Median"]=dataset[column].median() 
    Univarite[column]["Mode"]=dataset[column].mode()[0]
    Univarite[column]["Min"]=dataset[column].min(0)
    Univarite[column]["25%"]=np.percentile(dataset[column],25)
    Univarite[column]["50%"]=np.percentile(dataset[column],50)
    Univarite[column]["75%"]=np.percentile(dataset[column],75)
    Univarite[column]["Max"]=np.percentile(dataset[column],100)

sl_no
ssc_p
hsc_p
degree_p
etest_p
mba_p
salary

In [36]:
Univarite

        sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean      108  67.3034  66.3332  66.3702  72.1006  62.2782  198702
Median    108       67       65       66       71       62  240000
Mode        1       62       63       65       60     56.7       0
Min         1    40.89       37       50       50    51.21       0
25%      54.5     60.6     60.9       61       60   57.945       0
50%       108       67       65       66       71       62  240000
75%     161.5     75.7       73       72     83.5   66.255  282500
Max       215     89.4     97.7       91       98    77.89  940000

In [41]:
Univarite=pd.DataFrame(index=["Mean","Median","Mode","Min","25%","50%","75%","Max","IQR","1.5rule","Lesser","Greater","variance","std"],columns=quan)
for column in quan:
    print(column)
    Univarite[column]["Mean"]=dataset[column].mean()
    Univarite[column]["Median"]=dataset[column].median() 
    Univarite[column]["Mode"]=dataset[column].mode()[0]
    Univarite[column]["Min"]=dataset[column].min(0)
    Univarite[column]["25%"]=np.percentile(dataset[column],25)
    Univarite[column]["50%"]=np.percentile(dataset[column],50)
    Univarite[column]["75%"]=np.percentile(dataset[column],75)
    Univarite[column]["Max"]=np.percentile(dataset[column],100)
    Univarite[column]["IQR"]=Univarite[column]["75%"]-Univarite[column]["25%"]
    Univarite[column]["1.5rule"]=1.5*Univarite[column]["IQR"]
    Univarite[column]["Lesser"]=Univarite[column]["75%"]-Univarite[column]["1.5rule"]
    Univarite[column]["Greater"]=Univarite[column]["25%"]+Univarite[column]["1.5rule"]
    Univarite[column]["variance"]
    Univarite[column]["std"]

sl_no
ssc_p
hsc_p
degree_p
etest_p
mba_p
salary

In [43]:
Univarite

         sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean       108  67.3034  66.3332  66.3702  72.1006  62.2782  198702
Median     108       67       65       66       71       62  240000
Mode         1       62       63       65       60     56.7       0
Min          1    40.89       37       50       50    51.21       0
25%       54.5     60.6     60.9       61       60   57.945       0
50%        108       67       65       66       71       62  240000
75%      161.5     75.7       73       72     83.5   66.255  282500
Max        215     89.4     97.7       91       98    77.89  940000
IQR        107     15.1     12.1       11     23.5     8.31  282500
1.5rule  160.5    22.65    18.15     16.5    35.25   12.465  423750
Lesser       1    53.05    54.85     55.5    48.25    53.79 -141250
Greater    215    83.25    79.05     77.5    95.25    70.41  423750

In [ ]:
Lesser=[]
Greater=[]
for column in quan:
    if(Univarite[column]["Min"]Univarite[column]["lesser"]):
        lesser.append(column)